[submodule "linux"]
	path = linux
	url = https://github.com/multikernel/linux.git
[submodule "kerf"]
	path = kerf
	url = https://github.com/multikernel/kerf.git
[submodule "lazy_cma"]
	path = lazy_cma
	url = https://github.com/multikernel/lazy_cma.git
