[submodule "linux"]
	path = linux
	url = https://github.com/nickolaev/linux.git
	branch = sriov-vf-assignment
[submodule "kerf"]
	path = kerf
	url = https://github.com/nickolaev/kerf.git
	branch = sriov-vf-assignment
[submodule "lazy_cma"]
	path = lazy_cma
	url = https://github.com/multikernel/lazy_cma.git
[submodule "qemu"]
	path = qemu
	url = https://github.com/nickolaev/qemu.git
	branch = multikernel
